# ==========================================
# KONTIR - BARCHA ENV SOZLAMALARI (TO'LIQ)
# ==========================================

# 1. MongoDB Atlas ulanish havolasi (MAJBURIY)
# Diqqat: <db_password> o'rniga Atlas'dagi parolingizni yozasiz
MONGODB_URI=mongodb+srv://mahmudovnuriddin35_db_user:<db_password>@cluster0.i2zesjg.mongodb.net/kontir?retryWrites=true&w=majority

# 2. Ishlash muhiti (Production)
NODE_ENV=production

# 3. Server porti (Render avtomatik o'zi beradi, lokalda 3101)
PORT=3101

# 4. CORS ruxsati (barcha so'rovlar uchun)
CORS_ORIGIN=*

# 5. Mahalliy ma'lumotlar saqlanadigan papka
KONTIR_DATA=./data
